<h1>投稿編集</h1>
<div class="view">
  <%= render 'form', picture: @picture %>

  <%= link_to 'Show', @picture ,class: 'btn btn-primary'%> |
  <%= link_to 'Back', pictures_path ,class: 'btn btn-primary'%>
</div>
